models/*
modules/phenix-1.20.1-4487
data/outputs/*
*.ipynb
run_all.py
test_single.py
temp_files/*
log_files/*
data/single_chains/*
data/displays/figures
data/displays/tables/*
data/single_chains
data/inputs/maps/*
data/inputs/templates/*
data/built_models/*