models/*
!models/.gitkeep
modules/phenix-1.20.1-4487
data/outputs/*
data/outputs/7w72*
*.ipynb
run_all.py
test_bak.py
test_single.py
temp_files/*
log_files/*
data/single_chains/*
data/displays/figures
data/displays/tables/*
data/single_chains
data/inputs/maps/*
!data/inputs/maps/emd_32336.map.gz
data/inputs/templates/*
!data/inputs/templates/7W72*
data/built_models/PDB
data/built_models/alphafold
data/built_models/Phenix
data/built_models/MAINMAST
data/built_models/DeepTracer
data/built_models/ModelAngelo